body{
 background-image: url("https://th.bing.com/th/id/R.ba01bdd6b6104f782b2a5d8d8b881178?rik=y6P3tBlacMfUgA&pid=ImgRaw&r=0");
background-size: cover;
background-repeat: no-repeat;

}

#aa{
 border: 1px solid white;
}